.Checkout {
  &::before {
    @include after-mobile {
      content: none;
    }
  }
}

.checkOutProgressContainer {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  background: var(--breadcrumbs-background);
  min-height: var(--breadcrumbs-height);
}

.line {
  height: 6px;
  flex: auto;
  border-radius: 3px;
  background-color: #a7a7a7;
  margin: 0px 10px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #bbbbbb;
}

.progressAnimated {
  width: 100%;
  height: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: var(--button-background);
  transition: 1s ease;
  transition-delay: 0.5s;
  animation: progress 1s;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.progress {
  width: 100%;
  height: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: var(--button-background);
}

.circle_red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--button-background);
}

.circleSymbol {
  color: #eeeeee;
  font-size: 16px;
  line-height: 0%;
  top: 2px;
}

.circleSymbol_gray {
  color: #a7a7a7;
  font-size: 16px;
  top: 2px;
}

.checkBox {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 9px;
  overflow: visible;
}

.checkBoxTitle {
  width: max-content;
  margin-top: 5px;
}

.checkBoxTitle_gray {
  width: max-content;
  color: #a7a7a7;
  margin-top: 5px;
}
